* {
  margin: 0px;
  padding: 0px;
}
body {
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 8px;
  z-index: 111111111;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #5a5a5a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #270101;
  border-radius: 5px;
}

.container {
  width: 90%;
  margin: 0px auto;
  display: block;
}
.header {
  height: 100vh;
  background: linear-gradient(rgba(255, 144, 0, 0.9), rgba(255, 144, 0, 0.9)),
    url("./assets/munnaimg2.jpg");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 100%;
}

/* Navbar CSS */
.navbar {
  padding: 20px 2px;
  /* position: fixed; */
  /* width: 90%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo > img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.nav-menu > li {
  display: inline-block;
  margin-right: 20px;
}

.nav-menu > li > a {
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
.nav-menu > li > a:hover {
  color: rgb(54, 10, 2);
}

.banner-box {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-box > img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.banner-box > h4 {
  font-size: 36px;
  margin-top: 10px;
  color: rgb(3, 43, 59);
}
.banner-box > p {
  color: #e0e0e0;
}

.banner-box > button {
  cursor: pointer;
  padding: 10px 22px;
  margin-top: 20px;
  background: rgb(241, 89, 62);
  border: none;
  color: #fff;
  border-radius: 20px;
}
.about {
  display: flex;
  padding: 40px 0px;
  justify-content: space-between;
}

.about > img {
  border-radius: 20px;
  height: 500px;
  width: 500px;
  box-shadow: 0px 0px 25px 0px #b3b3b3;
}

.about-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.about-box > h3 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}
.about-box > p {
  font-size: 20px;
  margin-top: 10px;
  color: rgb(105, 105, 105);
}

.social-link {
  display: flex;
  /* justify-content: space-evenly; */
  margin-top: 30px;
  align-items: center;
}
.social-link > li > a > img {
  height: 40px;
  margin-right: 20px;
  transition: 850ms;
}
.social-link > li:hover > a > img {
  transform: rotate(360deg);
}

/* Footer CSS */
.footer {
  width: 100%;
  background: #5a5a5a;
  text-align: center;
  padding: 20px 0px;
  color: #fff;
  font-size: 18px;
}
