* {
  margin: 0px;
  padding: 0px;
}
body {
  box-sizing: border-box;
  background-color: rgb(0, 0, 0);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 8px;
  z-index: 111111111;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #5a5a5a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #270101;
  border-radius: 5px;
}

.container {
  width: 90%;
  margin: 0px auto;
  display: block;
}

/* Navbar CSS */
.navbar {
  position: fixed;
  width: 100%;

  background: rgba(255, 144, 0);
  box-shadow: 0px 0px 15px 0px #0000006b;
  /* margin-bottom: 30px; */
  z-index: 111111;
}
.navbar-box {
  padding: 1px 0px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo > img {
  height: 80px;
  width: 130px;
  border-radius: 50%;
}

.nav-menu > li {
  display: inline-block;
  margin-right: 20px;
}

.nav-menu > li > a {
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-menu > li > a:hover {
  color: rgb(54, 10, 2);
}

/* Contact */
.contact {
  /* margin-top: 80px; */
  padding: 130px 0px;
  display: flex;
  justify-content: center;
}
.contact-box {
  width: 40%;
  box-shadow: 0px 0px 15px 0px #a5a5a5;
  padding: 20px;
  background: #e9e8e8;

  border-radius: 15px;
  /* margin: 0px auto; */
}
.contact-box > p {
  margin-top: 10px;
  color: #2b2a2a;
  width: 90%;
}
form > div {
  width: 90%;
  margin-top: 20px;
}
form > div > p {
  font-weight: 700;
  margin-bottom: 5px;
}
form > div > input {
  width: 100%;
  padding: 10px 4px;
}
form > div > input::placeholder {
  font-size: 16px;
}
form > div > button {
  /* margin: 0px auto; */
  display: block;
  padding: 8px 36px;
  cursor: pointer;
  /* border-radius: 20px; */
  border: 1px solid #888888;
  background-color: #fff;
}

/* Footer CSS */
.footer {
  width: 100%;
  background: #5a5a5a;
  text-align: center;
  padding: 20px 0px;
  color: #fff;
  font-size: 18px;
}
