* {
  margin: 0px;
  padding: 0px;
}
body {
  box-sizing: border-box;
  background-color: #ffffff;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 8px;
  z-index: 111111111;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #5a5a5a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #270101;
  border-radius: 5px;
}

.container {
  width: 90%;
  margin: 0px auto;
  display: block;
}

/* Navbar CSS */
.navbar {
  position: fixed;
  width: 100%;

  background: rgba(255, 144, 0);
  box-shadow: 0px 0px 15px 0px #0000006b;
  /* margin-bottom: 30px; */
  z-index: 111111;
}
.navbar-box {
  padding: 1px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo > img {
  height: 80px;
  width: 130px;
  border-radius: 50%;
}

.nav-menu > li {
  display: inline-block;
  margin-right: 20px;
}

.nav-menu > li > a {
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-menu > li > a:hover {
  color: rgb(54, 10, 2);
}

/* Skill CSS */
.skill {
  padding: 120px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.skill-box-content {
  background-color: #5a5a5a;
  padding: 20px 30px;
  width: 50%;
  border-radius: 10px;
}
.skill-box > img {
  height: 450px;
  width: 650px;
}
.skill-box > h3 {
  font-size: 24px;
  color: #fff;
  margin: 10px 0px;
}
.skill-box > div {
  margin-left: 20px;
}
.skill-box > div > li {
  list-style: square !important;
  line-height: 20px;
  font-size: 17px;
  color: #c7c7c7;
}
/* Footer CSS */
.footer {
  width: 100%;
  background: #5a5a5a;
  text-align: center;
  padding: 20px 0px;
  color: #fff;
  font-size: 18px;
}
